.header {
	background-color: #FAFBFD;
	// position: absolute;
	// width: 100%;
	// top: 0;
	// left: 0;
	// z-index: 5;
	&__container {
		display: flex;
		align-items: center;
		min-height: 114px;
	}
	&__menu {
		flex: 1 1 auto;
		padding-right: 38px;
	}
	&__button {
		flex: 0 0 250px;
		display: flex;
		justify-content: flex-end;
	}
}
.menu {
	display: flex;
	justify-content: flex-end;
	&__list {
		display: flex;
		gap: 40px;
	}
	&__link {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 0.14em;
		color: #000;
		&:hover {
			text-decoration: none;
		}
	}
	&__hamburger {
		display: none;
	}
}
.button {
	// display: flex;
	padding: 14px 37px;
	background-color: #EC5863;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 0.14em;
	color: #FCFDFE;
	transition: background-color 0.5s ease;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: #0062ff;
		text-decoration: none;
		color: #FCFDFE;
	}
	&-blue {
		padding: 14px 30px;
		background-color: #4285F4;
		&:hover {
			background-color: #ff3341;
			text-decoration: none;
			color: #FCFDFE;
		}
	}
}